{% extends 'root.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'admin/nav.html.twig' %}
    {% endblock %}

    {% block alerts %}
        {{ include('shared/alerts.html.twig') }}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <div class="text-center mt-4">
            assistance@mondomaine.com
        </div>
    {% endblock %}
{% endblock %}