{% extends 'root.html.twig' %}

{% block body %}
    {% block nav %}
        {% include 'nav.html.twig' %}
    {% endblock %}

    {% block alerts %}
        {{ include('shared/alerts.html.twig') }}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <div class="text-center mt-4">
            Ma boîte - 2019
        </div>
    {% endblock %}
{% endblock %}